*{
    box-sizing: border-box;
    margin: 0;
    padding: 2% 0;
	background-color: black;
}
.apresentacao{
	width: 500px;
	height: 300px;
	margin-left: 10%;
	text-align: center;
	margin:6% auto;
}
.apresentacao h1{
	color: #fff;
	font-size: 90px;
	padding: 0 20px;
	font-family: 'Train One', cursive;
}
.apresentacao h3{
	color: #fff;
	font-size: 40px;
	padding: 0 20px;
	margin-top:10px ;
	margin-bottom:40px ;
}
.apresentacao input[type=text]{
	font-size: 70px;
	width: 70%;
	font-family: lato;
	color: #fff;
	text-align: center;
	background: 0  0;
	border: 0;
	text-decoration: none;
}
.apresentacao input[type=text]:focus{
    outline: 0;
}
@media screen and (max-width:861px){

}
@media screen and (max-width:700px){
	.apresentacao h1{
		font-size: 60px;
	}
	.apresentacao h3{
		font-size: 30px;
	}
	.apresentacao input[type=text]{
		font-size: 40px;
		width: 100%;
	}
}
@media screen and (max-width:500px){
	.apresentacao h1{
		font-size: 40px;
		margin-top: 40px;
	}
	.apresentacao h3{
		font-size: 24px;
		margin-top: 40px;
	}
	.apresentacao input[type=text]{
		font-size: 40px;
		width: 100%;
	}
}